---
import "@fontsource/archivo-black";
import "@fontsource/atkinson-hyperlegible";
import dayjs from "dayjs";
import fs from "fs";
import path from "path";
import { read } from "to-vfile";
import { matter } from "vfile-matter";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

const postData = await Promise.all(
  fs.readdirSync("src/pages/blog").map(async (filename) => {
    const parsedFile = path.parse(filename);
    const filePath = `src/pages/blog/${filename}`;
    const file = await read(filePath);
    matter(file);
    return {
      link: `/blog/${parsedFile.name}`,
      title: (file.data.matter as any).title,
      date: (file.data.matter as any).date,
      publish: (file.data.matter as any).publish,
    };
  }),
);
---

<Layout title="John Ragone">
  <main
    style="display: grid; gap: 20px; grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); justify-content: center;"
  >
    <Card title="John Ragone's Blog">
      {
        postData
          .filter((data) => !!data.publish)
          .sort((dataA, dataB) => {
            return dayjs(dataB.date).unix() - dayjs(dataA.date).unix();
          })
          .map((data) => (
            <div>
              <a href={data.link}>{data.title}</a> -
              {dayjs(data.date).format("MMMM DD, YYYY")}
            </div>
          ))
      }
    </Card>
  </main>
</Layout>

<style>
  main {
    padding: 24px;
  }
</style>
