---
import "@fontsource/archivo-black";
import "@fontsource/atkinson-hyperlegible";
import Bio from "../components/Bio.astro";
import Card from "../components/Card.astro";
import Educations from "../components/Educations.astro";
import Experiences from "../components/Experiences.astro";
import Projects from "../components/Projects.astro";
import Splash from "../components/Splash.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="John Ragone">
  <Splash />
  <main
    style="display: grid; gap: 20px; grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); justify-content: center;"
  >
    <Bio />
    <Experiences />
    <Educations />
    <Projects />
    <Card title="Interests">
      <div>🏃 Running</div>
      <div>🚴 Biking</div>
      <div>🏊 Swimming</div>
      <div>🧑‍🍳 Cooking</div>
      <div>📕 Reading</div>
      <div>🪴 Gardening</div>
      <div>🤲 Volunteering</div>
      <div>⚡️ Electronics</div>
      <div>🚗 Cars</div>
    </Card>
  </main>
</Layout>

<style>
  main {
    padding: 24px;
  }
</style>
