---
import Card from "./Card.astro";
---

<Card title="Bio">
  I like to run, and I work as a software engineer in Detroit 🐯. I recently
  graduated with my Master of Science in Computer Science from USC. My career
  goal is the reduction of the cost barrier to personal computing.

  <div
    style="display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); row-gap: 15px;"
  >
    <div style="display: flex; flex-direction: column; flex: 1">
      Detroit, MI<br /><a href="mailto:johnragone@me.com">johnragone@me.com</a
      ><a href="tel:1-781-956-5523">(781)956-5523</a>
    </div>
    <div style="display: flex; flex-diraction: column; flex: 1">
      <a href="https://codeberg.org/JRagone">Codeberg</a>
    </div>
  </div>
</Card>
