---

---

<div class="alert-box outer-border scale-down">
  <div class="inner-border">
    <div class="alert-contents">
      <section class="field-row" style="justify-content: flex-start">
        <p><slot /></p>
      </section>
    </div>
  </div>
</div>
<style>
  .alert-box {
    margin: 16px 0px;
  }
  .field-row {
    font-size: 1rem !important; /* System.css sets this to 18px */
    height: inherit !important; /* System.css sets this to 100% */
    letter-spacing: 0 !important; /* System.css sets this to -0.25em */
    font-family: "Atkinson Hyperlegible";
  }
</style>
