---
import "@fontsource/atkinson-hyperlegible";

export interface Props {
  readonly title: string;
}

const { title } = Astro.props;
---

<div class="standard-dialog">
  <div class="title-bar">
    <h1 class="title" style="cursor: text;">{title}</h1>
  </div>
  <div class="separator"></div>
  <div class="window-pane">
    <div style="display: grid; row-gap: 15px">
      <slot />
    </div>
  </div>
  <style>
    .standard-dialog {
      max-width: 60ch;
    }
    .window-pane {
      font-size: 1rem !important; /* System.css sets this to 18px */
      height: inherit !important; /* System.css sets this to 100% */
      letter-spacing: 0 !important; /* System.css sets this to -0.25em */
      font-family: "Atkinson Hyperlegible";
    }
    /* System.css customizes the scrollbar. The below disables it. */
    .window-pane::-webkit-scrollbar {
      background-color: transparent !important;
      width: 0px !important;
    }
    .window-pane::-webkit-scrollbar {
      background-color: transparent !important;
      border: none !important;
      border-right: none !important;
      width: 0 !important;
    }
  </style>
</div>
