---
import type { Dayjs } from "dayjs";
import dayjs from "dayjs";

export type Props = {
  readonly title: string;
  readonly subEntries: Array<{
    readonly title: string;
    readonly startDate: Dayjs;
    readonly endDate: Dayjs;
  }>;
  readonly useSeasonalDates: boolean;
};

enum Season {
  Winter = "WINTER",
  Spring = "SPRING",
  Summer = "SUMMER",
  Fall = "FALL",
}

const seasonToString: Record<Season, string> = {
  [Season.Winter]: "Winter",
  [Season.Spring]: "Spring",
  [Season.Summer]: "Summer",
  [Season.Fall]: "Fall",
};

const getSeason = (date: Dayjs): Season => {
  const month = date.month() + 1; // Day.js months are 0-indexed

  if (month >= 3 && month <= 5) {
    return Season.Spring;
  } else if (month >= 6 && month <= 8) {
    return Season.Summer;
  } else if (month >= 9 && month <= 11) {
    return Season.Fall;
  }
  return Season.Winter;
};

const composeSeasonalDate = (date: Dayjs) => {
  const season = getSeason(date);
  const seasonString = seasonToString[season];
  return `${seasonString}, ${date.year()}`;
};

const { title, subEntries, useSeasonalDates } = Astro.props;
---

<div>
  <strong>{title}</strong>
  <div style="display: grid; row-gap: 5px">
    {
      subEntries.map((subEntry) => (
        <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); column-gap: 20px;">
          <i>{subEntry.title}</i>
          {useSeasonalDates
            ? composeSeasonalDate(subEntry.startDate)
            : subEntry.startDate.format("MMMM DD, YYYY")}{" "}
          -{" "}
          {subEntry.endDate.isSame(dayjs(), "day")
            ? "Present"
            : useSeasonalDates
              ? composeSeasonalDate(subEntry.endDate)
              : subEntry.endDate.format("MMMM DD, YYYY")}
        </div>
      ))
    }
    <slot />
  </div>
</div>
