---
import dayjs from "dayjs";
import Card from "./Card.astro";
import DatedCardEntry from "./DatedCardEntry.astro";
import Project from "./Project.astro";
---

<Card title="Projects">
  <DatedCardEntry
    title="John Ragone's Blog"
    subEntries={[
      {
        title: "Author",
        startDate: dayjs("December 30, 2023"),
        endDate: dayjs(),
      },
    ]}
    useSeasonalDates={false}
  >
    <div>
      <a href="/blog">Link to the site </a>.
    </div>
  </DatedCardEntry>
  <DatedCardEntry
    title="Easy Compute"
    subEntries={[
      {
        title: "Co-maintainer",
        startDate: dayjs("October 7, 2023"),
        endDate: dayjs(),
      },
    ]}
    useSeasonalDates={false}
  >
    <div>
      <a href="https://github.com/EasyCompute"
        >Link to the Codeberg repository</a
      >
    </div>
  </DatedCardEntry>
  <Project
    name="Metaverse research"
    startDate={dayjs("May 18, 2022")}
    endDate={dayjs("September 26, 2022")}
  >
    <div>
      <a href="https://metaverse-research-590.web.app/"
        >Link to the research site</a
      >.
    </div>
    <div>
      <a href="https://codeberg.org/JRagone/metaverse"
        >Link to the Codeberg repository</a
      >.
    </div>
  </Project>
  <Project
    name="Project Paladin"
    startDate={dayjs("September, 2020")}
    endDate={dayjs("December 19, 2020")}
  >
    <div>
      <a href="https://project-paladin.org/">Link to the research site</a>.
    </div>
  </Project>
  <Project name="Michigan Men's Rowing website" seasonDate="Summer, 2020" />
  <Project name="Competitive Farming" seasonDate="Spring, 2020">
    <div>
      <a href="https://www.youtube.com/watch?v=A1CHaWw4pwU"
        >Link to a demo video</a
      >.
    </div>
    <div>
      <a href="https://codeberg.org/JRagone/p3"
        >Link to the Codeberg repository</a
      >.
    </div>
  </Project>
  <Project name="Epic Gaming Dungeon" seasonDate="February, 2020">
    <div>
      <a href="https://www.youtube.com/watch?v=GLaHk2Lm_9w"
        >Link to a demo video</a
      >.
    </div>
    <div>
      <a href="https://codeberg.org/JRagone/epicgamingdungeon"
        >Link to the Codeberg repository</a
      >.
    </div>
  </Project>
  <Project name="The Legend of Zelda" seasonDate="January, 2020">
    <div>
      <a href="https://www.youtube.com/watch?v=sym-Xfwlpfc"
        >Link to a demo video</a
      >.
    </div>
    <div>
      <a href="./downloads/ZeldaGold.zip">Download a ZIP of the game</a>.
    </div>
  </Project>
  <Project name="Russell Norvig Exploratorium" seasonDate="Spring, 2017">
    <div>
      <a href="https://www.youtube.com/watch?v=aWy9UlhTz_g"
        >Link to a demo video</a
      >.
    </div>
    <div>
      <a href="https://codeberg.org/JRagone/Suck-It"
        >Link to the Codeberg repository</a
      >.
    </div>
  </Project>
  <Project name="Wilhan Jomas Arcade" seasonDate="Winter, 2017">
    <div>
      <a href="https://www.youtube.com/watch?v=ST7RAKzbiK4"
        >Link to a demo video</a
      >.
    </div>
    <div>
      <a href="https://codeberg.org/JRagone/wilhanjomasarcade"
        >Link to the Codeberg repository</a
      >.
    </div>
  </Project>
  <Project name="Retro Dragon Arcade 3000" seasonDate="Fall, 2016">
    <div>
      <a href="https://www.youtube.com/watch?v=hUJp-OIG6o8"
        >Link to a demo video</a
      >.
    </div>
    <div>
      <a href="https://codeberg.org/JRagone/retrodragonarcade3000"
        >Link to the Codeberg repository</a
      >.
    </div>
  </Project>
</Card>
