---
import dayjs, { Dayjs } from "dayjs";

export type Props = {
  readonly name: string;
  readonly startDate?: Dayjs;
  readonly endDate?: Dayjs;
  readonly seasonDate?: string;
};

const { name, startDate, endDate, seasonDate } = Astro.props;
---

<div>
  <div style="display: grid; row-gap: 5px">
    <div
      style="display: grid; grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); column-gap: 20px;"
    >
      <strong>{name}</strong>
      {
        seasonDate ? (
          seasonDate
        ) : (
          <Fragment>
            {startDate?.format("MMMM DD, YYYY")} -{" "}
            {endDate?.isSame(dayjs(), "day")
              ? "Present"
              : endDate?.format("MMMM DD, YYYY")}
          </Fragment>
        )
      }
    </div>
    <slot />
  </div>
</div>
