<div
  class="splash"
  style="display: grid; grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); gap: 20px; align-items: center;"
>
  <div style="width: inherit;">
    <h2 style="margin: 0;">
      <span id="greeting">Hi</span>! 👋 My name's
    </h2><h1>
      John<br />Ragone
    </h1>
  </div>
  <img
    src="images/profile-pic.avif"
    alt="Profile of John Ragone"
    style="border-radius: 1rem; max-inline-size: 100%; object-fit: cover; max-height: 500px; width: 100%"
    fetchpriority="high"
  />
</div>

<style>
  .splash {
    margin: auto;
    padding: 24px;
    max-width: 1000px;
  }
  h1 {
    font-family: "Archivo Black";
    font-weight: 800;
    margin: 0;
  }
  h2 {
    font-family: "Atkinson Hyperlegible" !important;
  }
  @media (max-width: 45rem) {
    h1 {
      font-size: 3.5rem;
    }
    h2 {
      font-size: 1.75rem;
    }
  }
  @media (min-width: 45rem) {
    h1 {
      font-size: 4.5rem;
    }
  }
  @media (min-width: 60rem) {
    h1 {
      font-size: 6rem;
    }
  }
</style>

<script>
  import dayjs from "dayjs";

  const greeting = (): string => {
    const currentHour = dayjs().hour();
    if (currentHour >= 0 && currentHour < 12) {
      return "Morning";
    } else if (currentHour >= 12 && currentHour < 18) {
      return "Afternoon";
    }
    return "Evening";
  };

  const greetingElem = document.getElementById("greeting");
  if (greetingElem) {
    greetingElem.innerText = greeting();
  }
</script>
