---
import "@fontsource/atkinson-hyperlegible";
import "@sakun/system.css";
import "charts.css";
import dayjs from "dayjs";
import Card from "../components/Card.astro";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="John Ragone's personal blog." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <main
      style="display: grid; gap: 20px; grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); justify-content: center;"
    >
      {
        frontmatter.publish ? (
          <Card title={frontmatter.title}>
            <div style="min-width: 0">
              <i>
                {frontmatter.author}
                <br />
                {dayjs(frontmatter.date).format("dddd, MMMM DD, YYYY")}
              </i>
              <slot />
            </div>
          </Card>
        ) : (
          <Card title="Unpublished">This blog isn't published.</Card>
        )
      }
    </main>
  </body>
</html>
<style is:global>
  html {
    background-color: #f6f6f6;
  }
  main {
    padding: 24px;
  }
  body {
    padding-bottom: 40vh;
  }
  h1 {
    font-size: 1.5rem !important;
    font-family: "Atkinson Hyperlegible" !important;
  }
  h2 {
    font-size: 1.25rem !important;
    font-family: "Atkinson Hyperlegible" !important;
  }
  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 16px 0px;
    padding: 0.5em 10px;
  }
  blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }
  #my-chart .bar {
    --aspect-ratio: 3/1;
  }
  /* System.css customizes the scrollbar. The below disables it. */
  ::-webkit-scrollbar {
    background-color: transparent !important;
    width: 0px !important;
  }
  ::-webkit-scrollbar {
    background-color: transparent !important;
    border: none !important;
    border-right: none !important;
    width: 0px !important;
  }
</style>
