---
import "@sakun/system.css";

export interface Props {
  readonly title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="John Ragone's personal website." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    background-color: #f6f6f6;
  }
  body {
    padding-bottom: 40vh;
  }
  h1.title {
    font-size: 1.5rem !important;
    font-family: "Atkinson Hyperlegible" !important;
  }
  /* System.css customizes the scrollbar. The below disables it. */
  ::-webkit-scrollbar {
    background-color: transparent !important;
    width: 0px !important;
  }
  ::-webkit-scrollbar {
    background-color: transparent !important;
    border: none !important;
    border-right: none !important;
    width: 0px !important;
  }
</style>
